<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favorites List</title>
</head>
<body>

<h1>Edit Your Favorite TV Shows</h1>

  <form action="/users/<%=id%>/favlist?_method=PUT" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="genre">Genre</label>
      <input type="text" name="genre">
    </div>
    <div>
      <label for="seasons">Number of Seasons</label>
      <input type="text" name="seasons">
    </div>
  </div>

    <button type="submit">Submit</button>

  </form>

</body>
</html>
