<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div>
    <form action="/login" method="get">
      <button>Login</button>
    </form>
  </div>
  <div>
    <form action="/" method="get">
      <button>Homepage</button>
    </form>
  </div>
  <h1 class="error">Sorry! You don't have permission to do that!</h1>
  <h1 class="error">Must be Logged In</h1>
  <h1 class="error">User: guest@guest.com Psswd: guest</h1>
</body>
</html>
