<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1 class="header">ShowTracker</h1>
    <div class="wrapper">
      <div class="container">
      <% user.forEach(function(users) { %>
          <div>
          <div><%= users.name %> - <%= users.bio %></div>
          <div>
            <form action="/users/<%=users.id%>/" method="GET">
              <button>View Profile</button>
            </form>
          </div>
        </div>
      <% }) %>
    </div>


  <aside class="aside aside-1">
  <div>
    <form action="/new" method="get">
      <button>Signup</button>
    </form>
  </div>

  <div>
    <form action="/login" method="get">
      <button>Login</button>
    </form>
  </div>

  <div>
    <form action="/logout?_method=DELETE" method="post">
      <button>Logout</button>
    </form>
  </div>
  </aside>

  <aside class="aside aside-2">
    <div>something here</div>
  </aside>

</div> <!-- end of wrapper -->

</body>
</html>
