<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

  <div>
    <a href="/users/new">Signup</a>
  </div>

  <div>
    <a href="/users/login">Login</a>
  </div>

  <div>
    <form action="users/logout?_method=DELETE" method="post">
      <button>Logout</button>
    </form>
  </div>

</body>
</html>
