<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>

  <form action="return" method="GET">
    <input type="text" name="s" placeholder="Search For Shows">
    <input type="hidden" name="type" value="series">
    <button>Search</button>
  </form>

</body>
</html>
